.jumbotron {
  padding-top: 6rem;
  background-color: #fcecdd;
}

.btn-warning {
  border-radius: 10px;
  font-weight: 500;
}

#portofolio {
  background-color: #fcecdd;
}

section {
  padding-top: 5rem;
}
